@import url('https://fonts.googleapis.com/css2?family=Domine:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    color: rgb(255, 255, 255);
    background-color: #000;
  }
  .controls {
    top: 10px
  }
  .sorting {
    font-size: .8em  ;
  }
  .events {
    margin: auto;
    text-align: center;
    font-size: 25px;
  }
  #eventContainer {
display: flex;
flex-wrap: wrap;
justify-content: center;  }
  img {
    border-radius: 10px;
    width: auto;
  }
  h1 {
    padding: 10px;
    font-size: 1.2em;
  }
  .events > h1 {
    margin-top: 30px;
    font-size: 1.2em;
    padding: 10px 0px;
  }
  p {
    line-height: 1.6em;
    font-size: .9em;
    padding: 10px;
  }
  .event {
     margin: 80px;
  }
 button a {
    padding: 15px;
background-color: rgb(126, 40, 40);
    color: white;
    text-decoration: none;
}

button {
    background-color: rgb(126, 40, 40);

}
  
 
 

  
  